.computer-controls {
  .dash-container {
    margin: 0 auto;
    width: 100%; 
    box-sizing: border-box; 
  }

  .stream-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;

    .stream-row {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .stream-btn {
      display: flex;
      gap: 10px;
    }

    .view-stream-row {
      display: flex;
      flex-wrap: wrap; 
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    @media screen and (max-width: 426px) {
      .stream-container {
        display: block; 
      }
    }
  }

  .cont-divider {
    margin: 20px 0;
    height: 3px;
    background-color: var(--btn);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
  }

  .controls-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .computer-list {
    p {
      font-size: 120%;
      font-weight: bold;
      padding: 4px;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--btn);
    }
  }

  .checkbox-container {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    gap: 10px;
    margin: 5px;
  }

  .pcs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; 
  }

  .pcs-table {
    display: none; 
    border-collapse: collapse; 
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    
    table {
      width: 100%;
    }
    
    th, td {
      padding: 2px;
      text-align: center; 
      border: 1px solid #ddd; 
    }

    th {
      background-color: #f2f2f2;
    }

    .action {
      display: flex;
      justify-content: center; 
    }
  }

  .pc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 150px;
    background-color: #e9ecef;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;

    &.isAdmin {
      background-color: var(--bg4);
    }

    &.checked {
      background-color: var(--bg2); 
    }
  }

  .pc-icon {
    font-size: 24px; 
    margin-right: 10px; 
  }

  .pc-name {
    flex-grow: 1;
  }

  .checkbox-cell {
    display: flex;
    align-items: center; 
  }

  .hidden-checkbox {
    display: none;
  }

  .action {
    margin-left: 10px;
  }

  /* Toggle Switch Styles */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 54px; 
    height: 27.5px; 

    input {
      opacity: 0; 
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s; 
      border-radius: 34px; 

      &::before {
        position: absolute;
        content: "";
        height: 20px; 
        width: 20px; 
        left: 4px; 
        bottom: 4px; 
        background-color: white; 
        transition: 0.4s; 
        border-radius: 50%; 
      }
    }

    input:checked + .slider {
      background-color: #2196F3; 
    }

    input:checked + .slider::before {
      transform: translateX(26px); 
    }
  }

  /* Responsive styles */
  @media (max-width: 426px) {
    .pcs-grid {
      display: none; 
    }

    .pcs-table {
      display: block; 
    }
    
    .pcs-table th, .pcs-table td {
      width: 33.33%; 
    }

    .pcs-table th {
      font-weight: bold;
    }

    .pcs-table td {
      padding: 5px; 
    }
  }
}
