.computer-logs {

}

@media (max-width: 426px) {

    .filter-controls {
        flex-direction: column; /* Stack controls on small screens */
        flex-wrap: wrap;
        align-items: flex-start; /* Align controls to the left */
    }

    input[type="text"],
    input[type="date"],
    select {
        width: 100%; /* Full width on mobile */
        margin-bottom: 10px; /* Space below each input */
    }

    button {
        width: 100%; /* Full width buttons on mobile */
        margin-bottom: 10px; /* Space below each button */
    }
}
