:root {
  --bg1: #00284f;
  --bg2: #181616;
  --bg3: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url('../Assets/bg.png') no-repeat center center fixed;
  background-size: cover; 
}
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header,
.dashboard-footer {
  background: var(--bg1);
  padding: 20px;
  text-align: center;
  color: white;
  margin: 0;
}

.dashboard-header {
  display: flex;
}

.left-head {
  font-family:'Arial Narrow';
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-logo {
  width: 60px; /* Set the width of the div */
  height: 60px; /* Set the height of the div */
  background: url('../Assets/ateclogo.png') no-repeat center center;
  background-size: contain; /* Ensure the image scales correctly */
}

.head-atec span{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;
}

.right-head {
  display: flex;
  align-items: center; /* Centers items vertically */
<<<<<<< HEAD
  justify-content: flex-end;

=======
  justify-items: end;
>>>>>>> d701a6335625924f9e7c9a0cfb50d7df876b84dc
}

.prof-icon {
  margin-right: 10px; /* Space between icon and name */
}

.prof-name {
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.drop {
  margin-left: 10px;
}
=======
>>>>>>> d701a6335625924f9e7c9a0cfb50d7df876b84dc

.dashboard-panels-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1); 
}

.side-panel-L {
<<<<<<< HEAD
  background-color: var(--bg2);
  width: 100px; /* Adjust the width as needed */
  padding: 20px;
=======
  background-color: transparent;
  width: 400px; 
>>>>>>> d701a6335625924f9e7c9a0cfb50d7df876b84dc
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.side-panel-R {
<<<<<<< HEAD
  width: 200px; /* Adjust the width as needed */
=======
  /* background-color: var(--bg2); */
  width: 1000px; 
>>>>>>> d701a6335625924f9e7c9a0cfb50d7df876b84dc
  padding: 20px;
  text-align: center;
  color: black;
}

.content-panel {
  width: 100%;
  padding: 20px;
}

.sect {
  padding: 10px;
} 

.dash-panels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
}

.panel {
  background-color: #e9ecef;
  padding: 20px;
  text-align: center;
  border-radius: 40px;
  max-width: 400px; 
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-bottom: 200px solid #8BD17C;
  width: 400px;
  height: 400px;
}

.menu-panel i{
  margin: 10px;
  font-size: 20px;
}

.menu-panel {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: black;
  text-align: left;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer; 
}

.menu-panel:hover {
  background-color: #b9daff; 
  color: #00284f; 
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.menu-panel:active {
  background-color: #b9daff; 
  color: #00284f;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}