.faculty-record {
  .faculty-list {
    max-height: 300px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    
    .faculty-item {
      /* border: 1px solid #ccc; */
      background-color: #f3f3f3;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
    }
  }

  .faculty-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .faculty-details {
    padding: 10px 0 0 20px;
    
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .add-faculty-form {
    padding: 20px;
    
    .faculty-form-inner {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .user-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;
        border-bottom: 1px solid #ddd;
      }

      .reg-div {
        display: flex ;
        margin-top: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  .edit-faculty-form {
    .edit-faculty-form-inner {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 10px;
      
      .user-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;
        border-bottom: 1px solid #ddd;
      }

      .reg-div {
        display: flex ;
        margin-top: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  .gen-report {
    display: flex;
    gap: 10px;
    padding: 0 0 10px 0;
    justify-content:right;
    align-items: center;
    text-align: center;
  }
}
  