.rfid-logs{
    .log-table {
        height: 400px; /* Set a specific height */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Hide horizontal scrolling */
    }
    
    .pagination-controls {
        display: flex;
        align-items: center; /* Vertically center items */
        justify-content: center; /* Center items horizontally */
        gap: 10px; /* Space between elements */
        margin: 20px auto; /* Center the controls with auto margins */
        max-width: 300px; /* Set a maximum width */
    }
    
    .pagination-controls button {
        padding: 8px 12px; /* Smaller padding for buttons */
        background-color: var(--bg1); /* Background color */
        color: #fff; /* Text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Change cursor on hover */
        transition: background-color 0.3s; /* Smooth background color transition */
        font-size: 14px; /* Adjust font size */
    }
    
    .pagination-controls button:hover:not(:disabled) {
        background-color: var(--bg2); /* Change background color on hover */
    }
    
    .pagination-controls button:disabled {
        background-color: #ccc; /* Disabled button color */
    cursor: not-allowed; /* Change cursor for disabled button */
    }
}
