.student-record {
  .section-form {
    margin-bottom: 20p  x;
    padding: 20px; 

    .new-section-form {
      display: flex;
      gap: 10px;  
      padding: 10px;
    }
  }

  .sections-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
  }

  .section-item {
    flex: 0 1 auto; 
    max-width: 120px;
    position: relative;
  }

  .section-btn {
    position: relative;
    padding: 8px 40px;
    transition: 0.1s ease-in-out; 
  
    &.selected {
      font-size: 120%;
      font-weight: bold;
      padding: 8px 40px;
    }   

    .remove-btn {
      position: absolute;
      top: 0px;
      right: 0px; 
      min-width: 30px;
      max-width: 10px;
      color: white; 
      background-color: var(--del-btn);
      border-radius: 3px;
      padding: 3px 5px;
      border: none; 
      cursor: pointer;
      z-index: 10000;
    
      &hover {
        background-color: var(--del-hov);
      }
    }
  }

  .student-form,
  .edit-form {
    padding-top: 20px;

    .student-form-inner,
    .edit-form-inner {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 10px;
      
      .user-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;
        border-bottom: 1px solid #ddd;
      }

      .reg-div {
        display: flex ;
        margin-top: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
    } 
  }

  .student-rec-log {
    padding: 20px;

    .student-table {
      overflow: hidden;
      overflow-x: auto;
      overflow-y: auto;
      max-height: 200px;
    }
  }

  @media screen and (max-width: 426px) {
  .student-table {
      display: flex;

      .action {
        display: flex;
        gap: 3px;

        button, i {
          font-size: 90%;
          min-width: 3px;
        }
      }

    }
  }
  .element {
    scrollbar-width: none;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }

  .element::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
  }
}